@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

header {
  background-color: rgb(250, 79, 250);
}

img {
  width: 200px;
}

h1 {
  font-size: 1.5em;
  color: #333;
  display: inline-block;
  margin-left: 35%;
  font-family: "Roboto", sans-serif;
}

.navbar {
  background-color: #9908a7;
  overflow: hidden;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #575757;
}

table,
td {
  width: 15%;
  border-collapse: collapse;
  border-radius: 10px;
  border: #333 solid 1px;
}

h3 {
  padding-top: 5px;
  font-size: large;
}

iframe {
  height: 400px;
}

.post {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}
